body {
    font-weight: bold;
}

.rosa {
    background-color: #dd767b;
    position: relative;
    z-index: -1;
}

.azul {
    background-color: #00a7d5;
    position: relative;
    z-index: -1;
}

.naranja {
    background-color: #f6a000;
    position: relative;
    z-index: -1;
}

.verde {
    background-color: #60c869;
    position: relative;
    z-index: -1;
}

.rojo {
    background-color: #ff1e00;
}

.blanco {
    background-color: rgba(255, 255, 255, 0.13);
}


.bordes-top-caja {
    border-top-left-radius: 40px 20px;
    border-top-right-radius: 40px 20px;
}

.bordes-bot-caja {
    border-bottom-left-radius: 40px 20px;
    border-bottom-right-radius: 40px 20px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #ff1e00;
}

.titulo {
    font-size: 0.8em;
}

.opcion {
    background-color: #ff1e00;
    color: #fff;
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
}



/*xs*/
@media (min-width: 320px) {
    p{
        font-size: 0.7em ;
    }
    span {
        font-size: 0.5em ;
    }
    .caja {
        padding: 2px;
    }
    .balanza{
        width: 90%;
    }
    .titulo{
        font-size: 0.6em;
    }
    .columna-opciones{
        padding-right: 2px;
        padding-left: 2px;
    }
    .reduccion-p{
        padding-left: 8px;
        padding-right: 8px;
    }
    
} 
/*sm*/
@media (min-width: 576px) {
    p{
        font-size: 1rem ;
    }
    span {
        font-size: 0.8em ;
    }
    
    .caja {
        padding: 10px;
    }
    .balanza{
        width: 40%;
    }
    .titulo{
        font-size: 0.8em;
    }
    .columna-opciones{
        padding-right: 15px;
        padding-left: 15px;
    }
    .reduccion-p{
        padding-left: 15px;
        padding-right: 15px;
    }
} 
/*md*/
@media (min-width: 992px) {
    p{
        font-size: 1em ;
    }
    span {
        font-size: 1em ;
    }
}
/*lg*/
@media (min-width: 1200px) {
    p{
        font-size: 1.2em ;
    }
    span {
        font-size: 1em ;
    }
}

.aa{
    background-color: cadetblue;
}