body {
    font-weight: bold;
}

.rosa {
    background-color: #dd767b;
    position: relative;
    z-index: -1;
}

.azul {
    background-color: #00a7d5;
    position: relative;
    z-index: -1;
}

.naranja {
    background-color: #f6a000;
    position: relative;
    z-index: -1;
}

.verde {
    background-color: #60c869;
    position: relative;
    z-index: -1;
}

.rojo {
    background-color: #ff1e00;
}

.blanco {
    background-color: rgba(255, 255, 255, 0.13);
}

.caja {
    padding: 10px;
}

.bordes-top-caja {
    border-top-left-radius: 40px 20px;
    border-top-right-radius: 40px 20px;
}

.bordes-bot-caja {
    border-bottom-left-radius: 40px 20px;
    border-bottom-right-radius: 40px 20px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #ff1e00;
}

.titulo {
    font-size: 0.8em;
}

.opcion {
    background-color: #ff1e00;
    color: #fff;
    font-weight: bold;
}

p {
    padding: 0;
    margin: 0;
}

/*xs*/
@media (min-width: 576px) {
    p, span {
        font-size: 1em ;
    }
} 
/*sm*/
@media (min-width: 768px) {
    p, span {
        font-size: 1em; 
    }
} 
/*md*/
@media (min-width: 992px) {
    p, span {
        font-size: 1em;
    }
}
/*lg*/
@media (min-width: 1200px) {
    p, span {
        font-size: 1em ; 
    }
}